[submodule "stm32/rtps"]
	path = stm32/rtps
	url = https://github.com/embedded-software-laboratory/embeddedRTPS.git

[submodule "linux/Fast-RTPS"]
	path = linux/Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
