[submodule "stm32/rtps"]
	path = stm32/rtps
	url = git@git.rwth-aachen.de:CPM/Project/UNICARagil/Software/asoa/targets/rtps.git

[submodule "linux/Fast-RTPS"]
	path = linux/Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
